body{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.GORILLAidle{
    position: relative;
    
    height: 20%;

    left:450;
    bottom:-340;
}

.MONKEYidle{
    position: relative;
    
    /*height: 20%;*/
    left:-50;
    bottom:-340;
}

.OSTRICHidle{
    position: relative;
    
    height: 10%;
    left:-400;
    bottom:-340;
}

#gorilla2{
    position: relative;
    height: 10%;
    bottom:-340;
    visibility: hidden; 
}

#monkey2{
    position: relative;
    bottom:-280;
    left:-350;
    visibility: hidden; 
}