body{
    background: url(Forest1.jpg);
    background-size: 100% 100%;
    min-height: 652px;
    background-repeat: no-repeat;

}
.WordPosition{
    position: absolute;
    top: 20%;
    left: 50%;
    background-color:rgba(255, 255, 255, 0);
    transform:translate(-50%, -50%);
    text-align:center;
    border-radius: 70px;
    padding: 10px 120px ;
    font-size: 4pc;
    display: inline-block;
    font-family: Arial;
    font-style: italic;
}
.DescriptionPosition{
    position: absolute;
    top:55%;
    left: 50%;
    background-color:rgba(255, 255, 255, 0);
    transform:translate(-50%, -50%);
    text-align:center;
    border-radius: 70px;
    padding: 10px 120px ;
    font-size: 2pc;
    display: inline-block;
    font-family: Arial;
    font-style: italic;
}
#helpbutton{
    width: 100px;
    text-align: center;
    /*background-image: url("C:\Users\Dell\Desktop\images (2).jpg");*/
    background-attachment: fixed;
    background-color: peru;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    text-decoration-style: none;
    display: inline;
    color: rgb(2, 53, 19) ;
    margin:30px;
    box-sizing: border-box;
    border-color: sandybrown ;
    outline-style: outset;
    outline-width: thick;
    outline-color: peru;   
}