body{
    background-image: url("background.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    text-align: center;
    min-height:auto;
}

.WordPosition{
    position: absolute;
    top: 20%;
    left: 50%;
    background-color:rgba(255, 255, 255, 0);
    transform:translate(-50%, -50%);
    text-align:center;
    border-radius: 70px;
    padding: 10px 120px ;
    font-size: 3pc;
    display: inline-block;
    font-family: Arial;
    font-style: italic;
}
.DescriptionPosition{
    position: absolute;
    top:55%;
    left: 50%;
    background-color:rgba(255, 255, 255, 0);
    transform:translate(-50%, -50%);
    text-align:center;
    border-radius: 70px;
    padding: 10px 120px ;
    font-size: 2pc;
    display: inline-block;
    font-family: Arial;
    font-style: italic;
}
#helplamp{
    max-height: 100px;
    margin-top:10px ;
}
