body{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
#helplamp{
    max-height: 50px;
    position: absolute;
    top:6px;
    left:20px;
}
#countdown{
    position: absolute;
    top:6px;
    left:1290px;
    background-color:wheat;
    border-radius: 60px;
    padding: 3px 3px;
    font-size: large;
    color: rgb(2,53,19);
}
.monks{
    max-height: 80px;
    display: none;
}
.ostrish{
    max-height: 80px;
    display: none;
}
.Trails{
    position: absolute;
    top:6px;
    left:440px;
}
#musicbtn{
    max-height: 60px;
    position: absolute;
    top:7px;
    left:1200px;
}
.DescriptionPosition{
    position: absolute;
    top:5%;
    left: 20%;
    background-color:wheat;
    transform:translate(-50%, -50%);
    text-align:center;
    border-radius: 70px;
    padding: 10px 10px ;
    font-size: 1pc;
    display: none;
    font-family: Arial;
    font-style: italic;
}
.WordPosition{
    position: absolute;
    top: 33%;
    left: 50%;
    background-color:wheat;
    transform:translate(-50%, -50%);
    text-align:center;
    border-radius: 70px;
    padding: 8px 80px ;
    font-size: 3pc;
    display: inline-block;
    font-family: Arial;
    font-style: italic;
}
.Buttons{
    position: relative;
    top: 65%;
}
#endmessage{
    display: none;
}
.GORILLAidle{
    position: relative;
    height: 20%;
    left:480;
    bottom:-360;
}
.MONKEYidle{
    position: relative;
    left:-300;
    bottom:-360;
}
.OSTRICHidle{
    position: relative;
    height: 10%;
    left:-250;
    bottom:-360;
}

#gorilla2{
    position: relative;
    height: 10%;
    left:300;
    bottom:-360;
    visibility: hidden; 
}
#monkey2{
    position: relative;
    bottom:-280;
    left:-500;
    visibility: hidden; 
}