body {

 background-image: url("background.png");
 background-repeat: no-repeat;
 box-sizing:border-box ;
 background-position: right top;
 background-size:1366px 657px  ;
 background-attachment: fixed;

}

 .buttons {

  margin-top: 150px;

      }

 .btn-start-page {

 list-style: none;
 text-decoration: none;
 margin-bottom: 30px;
 margin-top:50px;
 margin-left: 530px;
 box-sizing: padding-box;
 display:block;
 width :200px;
 background-color: darkgray;
 padding: 12px;
 text-align:center;
 font-size: 2em;
 color: black;

                }
                   
.btn-start-page:hover{
               
 color: #fff;
                              
                     }