body {

    background-image: url("background.png");
    background-repeat: no-repeat;
    box-sizing:border-box ;
    background-position: right top;
    background-size:1366px 657px  ;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
   
   }
   /*
   .per {

    width: auto;
    height: 40px;
   }

   .pro-bar {
width:400px;
height:23px;
border-radius:13px;
padding:3px;
border-style: solid;
border-color:chocolate;
background-color:darkred;
margin-top: 300px;
margin-left: 470px;


   }

 .pro-bar::before{
        content: attr(data-label);
        text-align:center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        left: .5em;
        position: absolute;
        width: 390px;
    
        border-radius: 20em;
        margin-left: 463.3px;
        padding: 5.5px;
        background-color: orange;
        margin-top:-3px;
   
  
       }

   .percentage{
    width:250px;
    height:20px;
position: absolute;
border-radius:10px;

margin-top: 3px;




   }
   
*/

   h1 {
margin-left: 320px;
font-family:cursive;
margin-top: 100px;
width:700px;
font-size: 80px;
color:darkred;
text-align: center;
font-weight: bolder;
/*
background-color: orange;
border-radius: 14px;
border-style: solid;
border-color: darkred;
*/
animation: mover 1.5s linear infinite;

   }
   @keyframes mover {

    0%{
        text-shadow: 0 0 30px rgba(0, 0, 0, 0);
    }

    50%{
        text-shadow: 0 0 30px rgba(0, 0, 0, .8);
        transform: translateY(30px);
    }
    100%{
        text-shadow: 0 0 30px rgba(0, 0, 0, 0);
    }


   }

   .percent-count{

    width: 450px;
    height:50px;
    font-size: 40px;
    font-weight: bolder;
    font-family:cursive;
    text-align: center;
    color: darkred;
   padding: 1px;
    margin-left:460px;
    margin-top:200px;
   }
.text1{


    position: absolute;
    left: 700px;
   display: none;
   font-size: 25px;
   font-family: cursive;
   font-weight: bold;
   letter-spacing: 1px;
   line-height: 21px;
   margin-top: 17px;
  margin-left: -80px;
  color:rgb(4, 44, 4);
}

.loading{
    position: absolute;
    left: 700px;
   display: block;
   font-size: 25px;
   font-family: cursive;
   font-weight:bold;
   letter-spacing: 1px;
   line-height: 21px;
   margin-top: 17px;
  margin-left: -80px;
  color:rgb(4, 44, 4);
  
}
  
.progress-bar{


    width: 503px;
    height: 26px;
    border-style:solid;
    border-color: orange;
    background-color:darkred;
    border-radius: 13px;
    padding: 3px;
    margin-top:10px;
    margin-left: 430px;
    
}
 
  .progress{

    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color:orange;
    padding: 5.6px;
  margin-left: -4px;
    margin-top:-2.6px;
  }
  

  