body {

    background-image: url("background.png");
    background-repeat: no-repeat;
    box-sizing:border-box ;
    background-position: right top;
    background-size:1366px 657px  ;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
  
   }

   h1 {

    /*
    margin-left: 355px;
    font-family:cursive;
    margin-top:60px;
    width:600px;
    font-size: 50px;
    color:orange;
    text-align: center;
    font-weight: bolder;
    animation: mover 1.5s linear infinite;
    display: inline-block;
    background-color:darkred;
    padding:15px;
    border-radius: 0px;
    border-style: solid;
    border-color: orange;
    
    */

    font-size: 80px;
    font-style: italic;  
    font-weight: bold;
    text-align: center ;
    color: rgb(2, 53, 19);



       }

   .imge {
  
    display: inline-block;
    width: 20px;
    margin-left:280px;

         }

.imge img {

    height: 200px;
    width: 200px;
    margin-top:70px ;
    margin-bottom:20px;

          }

  


    .btn {

        width: 130px;
    text-align: center;
    /*background-image: url("C:\Users\Dell\Desktop\images (2).jpg");*/
    background-attachment: fixed;
    background-color: peru;
    font-size: 30px;
    font-weight: 550;
    font-style: italic;
    text-decoration-style: none;
    display: block;

    color: rgb(2, 53, 19) ;
    margin:30px;
    box-sizing: border-box;
    border-color: sandybrown ;
    outline-style: outset;
    outline-width: thick;
    outline-color: peru;
    text-decoration: none;
    padding: 5px;
    cursor: pointer;



    }      
 #frutbtn {
     /*

    color:darkred;
    text-decoration: none;
    font-family: cursive;
    font-weight: bolder;
    font-size:30px;
    width:140px;
    border-radius: 14px;
    padding-left:20px;
    padding-right:20px;
    padding-top: 1px;
    padding-bottom:1px;
    background-color: orange;
    border-style: solid;
    border-color: darkred;
    margin-left:313px;
    margin-top: -300px;
*/


margin-top: 10px;


margin-left:313px;

            }

#frutbtn:hover {
               
    color: #fff;
          
                }


#sportbtn {
      /*

    color:darkred;
    text-decoration: none;
    font-family: cursive;
    font-weight: bolder;
    font-size:30px;
    width:140px;
    border-radius: 14px;
    padding-left:20px;
    padding-right:20px;
    padding-top: 1px;
    padding-bottom:1px;
    background-color: orange;
    border-style: solid;
    border-color: darkred;
    margin-left: 170px;
    margin-top: 50%;
*/


margin-left:  630px;
margin-top:-75px;


                }

#sportbtn:hover {
               
    color: #fff;
          
                }

#animalbtn {
    /*

    color:darkred;
    text-decoration: none;
    font-family: cursive;
    font-weight: bolder;
    font-size:30px;
    width:140px;
    border-radius: 14px;
    padding-left:20px;
    padding-right:20px;
    padding-top: 1px;
    padding-bottom:1px;
    background-color: orange;
    border-style: solid;
    border-color: darkred;
    margin-left: 147px;
    margin-top: 50%;
*/


margin-left:  930px;
margin-top: -80px;



            }

#animalbtn:hover {
               
    color:white;
          
                 }


     /*

    list-style: none;
    text-decoration: none;
margin-top: 40px;
    margin-left: 1100px;
    box-sizing: padding-box;
    display: inline-block;
    width :200px;
    background-color:gray;
    padding: 7px;
    text-align: center;
    font-size: 2em;
    color: black;
    */

    
    #next{


        position: absolute;
        margin-left: 1150px ;
        margin-top:6px;
    
    

              
           }  

   #next:hover {
              
    color: #fff;
              
                  }
                


 