body{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#choose-para{
        
        position: fixed;
        left:380;
        font-size: 70;
        margin-top: 0px;
        margin: 0px 0px;
        color: green;
}

.choose-char{
    height: 200;
    width: 250;
    border: 5px dotted rgb(76, 112, 17);
    border-radius: 14px;
    padding: 15px;
    position: fixed;
    top: 180;
}


#monkey-char{
    left: 300;
}

#ostrich-char{
    left: 900;
}

.char-card{
    display: block;
    background-color: lightcyan;
    color: black;
    font-size: 40;
    width: 400;
    height:450;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    position: fixed;
    top: 100;
    left: 550;
    border: 5px dotted  lightcyan;
    border-radius: 14px;
    padding: 15px;
}

#monkey-card{
    display: none;    
}

#ostrich-card{
    display: none;
}

#monkey-char:hover~#monkey-card{
    display: block;
    cursor: pointer;
    
}

#monkey-char:hover{
    opacity: 0.3;
}

#ostrich-char:hover~#ostrich-card {
    display: block;
    cursor: pointer;
}

#ostrich-char:hover{
    opacity: 0.3;
}

.img-card{
    height: 150;
    width: 100;
}

span{
    text-align: left;
    color: black;
}

button{
   
    /*background-image:url("buttons.jpg") ;*/
    background-attachment: fixed;
    background-color: peru;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    text-decoration-style: none;
    display: block;
    color: rgb(2, 53, 19) ;
    margin:50px;
    box-sizing: border-box;
    border-color: sandybrown ;
    outline-style: outset;
    outline-width: thick;
    outline-color: peru;
    cursor: pointer;

}

#monkeychoose{
    position: fixed;
    top: 400;
    left: 340;
}

#ostrichchoose{
    position: fixed;
    top: 400;
    left: 940;
}

#monkeychoose:hover{
    color: #fff;
}

#ostrichchoose:hover{
    color: #fff;
}